<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteXmlPractice">
<listeners>
<listener class-name="main.Listeners"></listener>
</listeners>
  <test  name="Regression Test">
    <classes>
      <class name="test.TestClass"> </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
